In [ ]:
!pip install -r requirements.txt
!pip install nervaluate==0.1.8
!pip install transformers
!pip install nervaluate
!pip install langchain
!pip install --upgrade langchain-together
!pip install torch
!pip install langchain_community
!pip install langchain_huggingface
!pip install together

In [1]:
import sklearn
import torch
from transformers import BitsAndBytesConfig
from langchain import HuggingFacePipeline
from langchain_community.llms import HuggingFaceHub
from langchain import PromptTemplate, LLMChain
import os
import pandas as pd
import json
from nervaluate import Evaluator
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report
import time
import ast
from langchain_huggingface import HuggingFaceEndpoint
from collections import defaultdict
import time
from langchain_together import ChatTogether
import together
from together import Together
import re
import string

# SETUP

In [2]:

path='/Users/salvador/GitHub/absa-travelogues/ABSA_data_ok/'
path_1='/Users/salvador/GitHub/absa-travelogues _deepseek/ABSA_data_results_deepseek/'
#path1='/Users/salvador/Downloads/English_df_asp_null_nosent_century.csv'
#antiguo path2
path_source='/Users/salvador/GitHub/absa-travelogues/ABSA_data/English_asp_null_nosent_IOB_century_4.tsv'

In [3]:

TOGETHER_API_KEY='73989ea4aa7a495b1fed7c7edec40398e6ce1525f7049afd85060a0e041058e2'
link_modelo = Together(api_key=TOGETHER_API_KEY)

In [4]:
#chequeo de la longitud del prompt
""" This funtion receives the systems prompt and the user promt together the
prompt maixumun size  asociated to the model and establish if it is ok or it is needed
to split the user prompt (TODO)
Args: systems prompt, user promt, prompt limit
return: True false
"""
def tamano_prompt(contenido_sys,contenido_user,modelo,prompt_limit):
  from langchain_together import ChatTogether
  llm = ChatTogether(
      model=modelo,
      temperature=0,
      api_key=TOGETHER_API_KEY,
  )
  # la estrucutra de prompt es difernte a si usas la API directa de together
  messages=[
        (

            "system", contenido_sys,
        ),
        (
            "human",contenido_user,
        ),
    ]
  ai_msg = llm.invoke(messages)
  if (ai_msg.response_metadata['token_usage']['prompt_tokens']>prompt_limit):
      LIMIT=True

  else:
      LIMIT=False
  print(ai_msg.response_metadata['token_usage']['prompt_tokens'])
  return LIMIT
#ai_msg.usage_metadata
#ai_msg.response_metadata['token_usage']['prompt_tokens']
#mirar aqui la longitud de contexto. para llama3.1 8B es 128K, 70B 128K 405B, 4096

def divide_prompt(contenido_user,promt_limit):
  #TODO
  lista_prompts=[]
  if promt_limit>(128000/2):
    #divido el contenido user las veces encesarias y lo meto en lalista
    print()
  lista_prompts.append(contenido_user)
  return lista_prompts

In [47]:
# Para probar codigo se puede borrar. Tien que tener definido las variables antes de ejecutarse
# SE puede borrar
prompt_limit=128000
tamano_prompt(contenido_sys,chain_of_thought,modelo,prompt_limit)

1097

False

## Load data

In [5]:
#Cargo los datos y renombro las columnas. Los tados estan en English_asp_null_nosent_IOB_century_4.tsv

lab_df_2=pd.read_csv(path_source,delimiter="\t",index_col=None)
lab_df_2.rename(columns={'_sentence_text': 'sentence', 'sentence_split': 'words', 'iob':'gold_labels'}, inplace=True)
lab_back=lab_df_2
lab_back.columns

Index(['Century', 'text', 'sentence', 'annotation', 'aspect_cat', 'results',
       'words', 'gold_labels'],
      dtype='object')

# Aspect extration on travel literature data 


- Output to IOB-format for evaluation

##  Prompting : Los tres prompts

In [ ]:
##### Añadir ejemplos con listas con varios elementos
##### Eliminar clave "entities" del diccionario
##### Mejorar la salida del json en caso de error, volver a pedir
##### Intentar mejorar la consistencia

In [6]:

question = "Extract the relevant named entities from the given sentence."

In [10]:
contenido_sys = "You are a historian and literary scholar with expertise on historical travel literature, colonial literature and labelling named entities"

one_shot="""Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biome: names of biomes
- myth: fantastical entities, deities, or God
- hum_landform: landforms influenced by people
- nat_landform: landforms not influenced by people
- nat_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biome": ["entity_1", "entity_2", "entity_n"],
        "myth": ["entity_1", "entity_2", "entity_n"],
        "hum_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }
        
"""


few_shot= f"""{one_shot} 
Here you have some examples:
Example1:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>
Output:
   {{"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather": ["Hurricane\\'s' Katrina"],
    "organisation": [],
    "biome": [],
    "myth": [],
    "hum_landform": [],
    "nat_landform": [],
    "nat_phenomenon": ['flooding'],
    "land_cover": [],
  }}
  
Example 2:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>
Output:
   {{"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }} 
Example 3:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>
Output:
   {{"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }}
  """
chain_of_thought= f"""{one_shot}
Let's approach this step-by-step:
Example 1:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>

Step 1: Identify potential named entities
- Amazon rainforest
- jaguars
- giant water lilies
- Andes Mountains

Step 2: Categorize each entity and asign a label
- Amazon rainforest: biome (rainforest is a type of biome)
- jaguars: fauna (common name of an animal)
- giant water lilies: flora (common name of a plant)
- Andes Mountains: nat_landform (mountain range not influenced by people)

Step 3: Format the output

   {{"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }}

Example 2:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>

Step 1: Identify potential named entities
- Hurricane Katrina
- New Orleans

Step 2: Categorize each entity and asign a label
- Hurricane's Katrina: weather (description of a weather event)
- New Orleans: location (proper name of a city)

Step 3: Format the output

  { {"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather": ["Hurricane Katrina"],
    "organisation": [],
    "biome": [],
    "myth": [],
    "hum_landform": [],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }}

Example 3:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>

Step 1: Identify potential named entities
- Great Wall of China
- Gobi Desert
- Bactrian camels

Step 2: Categorize each entity and asign a label
- Great Wall of China: hum_landform (man-made structure influencing the landscape)
- Gobi Desert: biome (desert is a type of biome)
- Bactrian camels: fauna (common name of an animal)

Step 3: Format the output

   {{"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }}

Now, DO NOT take into account the previous examples, use them JUST AS A REFERENCE. 

The sentence for analyzing is:
"""

In [ ]:
### BORRAR

chain_of_thought = """
Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather_phenomena: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biomes: names of biomes
- mythological_entities: fantastical entities, deities, or God
- human_landform: landforms influenced by people
- natural_landform: landforms not influenced by people
- natural_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather_phenomena": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biomes": ["entity_1", "entity_2", "entity_n"],
        "mythological_entities": ["entity_1", "entity_2", "entity_n"],
        "human_landform": ["entity_1", "entity_2", "entity_n"],
        "natural_landform": ["entity_1", "entity_2", "entity_n"],
        "natural_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }
Let's approach this step-by-step:

Example 1:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>

Step 1: Identify potential named entities
- Amazon rainforest
- jaguars
- giant water lilies
- Andes Mountains

Step 2: Categorize each entity and asign a label
- Amazon rainforest: biomes (rainforest is a type of biome)
- jaguars: fauna (common name of an animal)
- giant water lilies: flora (common name of a plant)
- Andes Mountains: natural_landform (mountain range not influenced by people)

Step 3: Format the output

   {"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather_phenomena": [],
    "organisation": [],
    "biomes": ["Amazon rainforest"],
    "mythological_entities": [],
    "human_landform": [],
    "natural_landform": ["Andes Mountains"],
    "natural_phenomenon": [],
    "land_cover": [],
   }


Example 2:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>

Step 1: Identify potential named entities
- Hurricane Katrina
- New Orleans

Step 2: Categorize each entity and asign a label
- Hurricane's Katrina: weather_phenomena (description of a weather event)
- New Orleans: location (proper name of a city)

Step 3: Format the output

   {"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather_phenomena": ["Hurricane\\'s' Katrina"],
    "organisation": [],
    "biomes": [],
    "mythological_entities": [],
    "human_landform": [],
    "natural_landform": [],
    "natural_phenomenon": [],
    "land_cover": [],
  }

Example 3:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>

Step 1: Identify potential named entities
- Great Wall of China
- Gobi Desert
- Bactrian camels

Step 2: Categorize each entity and asign a label
- Great Wall of China: human_landform (man-made structure influencing the landscape)
- Gobi Desert: biomes (desert is a type of biome)
- Bactrian camels: fauna (common name of an animal)

Step 3: Format the output

   {"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather_phenomena": [],
    "organisation": [],
    "biomes": ["Gobi Desert"],
    "mythological_entities": [],
    "human_landform": ["Great Wall of China"],
    "natural_landform": [],
    "natural_phenomenon": [],
    "land_cover": [],
  }


Now, DO NOT take into account the previous examples, use them JUST AS A REFERENCE. 

The sentence for analyzing is:


"""

## Generation

In [11]:

def llm_inference(modelo,mensaje):
  #TOGETHER_API_KEY='73989ea4aa7a495b1fed7c7edec40398e6ce1525f7049afd85060a0e041058e2'
  link_modelo = Together(api_key=TOGETHER_API_KEY)
  output =[]
  extract = link_modelo.chat.completions.create(
      messages=mensaje,
      model=modelo,
      #top_p=1,
      #top_k=40,
      temperature= 0.0,
      #response_format={
      #   "type": "json_object",
      #   "schema": characters.model_json_schema(),},
  )
  try:
    output = json.loads(extract.choices[0].message.content)
  except ValueError as e:
    print ('Error en JSON tipo : ',e)
    print(output)
    extract = link_modelo.chat.completions.create(
              messages=[
                  {
                      "role": "system",
                      "content": ' You are a helpfull assistant expert on JSON format.Your work is to correct this JSON to be a correct JSON text.Only repond in a JSON format. Do not add any more comment.',
                  },
                  {
                      "role": "user",
                      "content":f'This is the uncorrect JSON text:  {extract.choices[0].message.content}',
                  },
              ],
              model=modelo,
              temperature= 0.0,
            )
    try:
          output = json.loads(extract.choices[0].message.content)
    except ValueError as e:
        print (f'Segundo  error, skipe Sentence. Tipo de error: ',e)
        output=[]

  #print(extract.choices[0].message.content)
  #print(json.dumps(output, indent=1))
  #print(output)
  return(output)

# Modelo seleccionado

In [20]:
#context length=131072 FP8
#modelo="meta-llama/Meta-Llama-3.1-70B-Instruct-Turbo"
#context length=131072 FP8
modelo="meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo"
#context length=8192 FP16
#modelo="meta-llama/Llama-3-8b-chat-hf"
#context length=131072 FP16
#modelo="meta-llama/Llama-3.2-3B-Instruct-Turbo"
#context length=131072 FP16
modelo='meta-llama/Llama-3.3-70B-Instruct-Turbo'
modelo='deepseek-ai/DeepSeek-R1-Distill-Llama-70B-free'
#modelo='meta-llama/Llama-3.3-70B-Instruct-Turbo-Free'
modelo='meta-llama/Llama-3.3-70B-Instruct-Turbo'

# Comprobacion de que todo esta bien estructurado en el fichero de trabajo

In [13]:
#ESTE ES EL CODIGO DE COMPROBACION DE LONGITUDES DE WORDS Y IOB LABELS DEL DATASET . ES UNA COMPROBACION QUE SE HACE ANTES DE EJECUTAR LA INFERENCIA
count=0
count_1 =0
count_2 =0
diferente=[]

for n in range(lab_back.shape[0]):
    ll=ast.literal_eval(lab_back.loc[n,'gold_labels'])
    ll1=ast.literal_eval(lab_back.loc[n,'words'])
    sentence=re.findall(r'\w+|[^\w\s]', lab_back['sentence'][n])
    lista_filtrada = [elemento for elemento in sentence if elemento not in string.punctuation or elemento in ['.', ';',',']]

    if len(ll)==len(ll1):     
        if len(ll)==len(lista_filtrada):  
            count_1 +=1
        else:
            diferente.append(count) 
        count +=1
        
             
    else:
        if len(ll)==len(lista_filtrada):
            count_2 +=1

print('coincide el words y gold labels',count)
print('coinciden TODOS',count_1)
print('coincide el words y gold labels', count_2)
print('total',lab_back.shape[0])

"""print('palabras',len(ll1))
print('split sentence',len(lab_df_1['sentence'][num].split(" ")))
print(lab_df_1.loc[num,'gold_labels'])
print(lab_df_1.loc[num,'words'].split(","))
print(lab_df_1['sentence'][num].split(" "))
"""

coincide el words y gold labels 2151
coinciden TODOS 1898
coincide el words y gold labels 0
total 2151

'print(\'palabras\',len(ll1))\nprint(\'split sentence\',len(lab_df_1[\'sentence\'][num].split(" ")))\nprint(lab_df_1.loc[num,\'gold_labels\'])\nprint(lab_df_1.loc[num,\'words\'].split(","))\nprint(lab_df_1[\'sentence\'][num].split(" "))\n'

# ASPECT EXTRACTION

In [21]:
#ESTE ES EL CODIGO DE EXTRACCION
#path_1='/Users/salvador/GitHub/absa-travelogues/ABSA_data_ok/resultado1/'

#def busca_aspect(path_1,lab_back,modelo):
    #list_aspect=[]
    #list_category_aspect=[]
#lab_back.loc[:,'ASPECT'] = None 
#lab_back.loc[:,'CAT_ASPECT'] = None


prompts = {
    'one_shot': one_shot,
    'few_shot': few_shot,
    'chain_of_thought': chain_of_thought
}
print('MODELO EN EJECUCION',modelo)
for prompt,prompt_content in prompts.items():
    lab_back=lab_df_2 
    print('Resultado de ',prompt)
    cuenta=0
    errores=0
    lista_errores=[]
    for sentence in lab_back['sentence']:
        print(' Frase=',cuenta)
# para cada sentence que tengo en el dataset 
    #for sentence in lab_back['sentence'][cuenta:]:   
        contenido_user=''
        result=[]
        contenido_user=f'{prompt_content}'+f"<<< {sentence} >>>"
        messages=[
                {
                    "role": "system",
                    "content": contenido_sys,
                },
                {
                    "role": "user",
                    "content":contenido_user,
                },
            ]
        result=llm_inference(modelo,messages)
        #devuelve dos listas aspect y category_aspect indicando en una que es ASPECT y en la otra la categoria e.g. PERSON
        #print(result)
        if result!=[]:
            aspect,category_aspect=extract_entitites(result)
            #print(' aspect',aspect)
            #print(' sentence',sentence)
            #print('categoria aspect',category_aspect)
            #convertimos un string con las palabras anotadas a mano como si fuera una lista en una lista con la funcion ast.literal_eval
        else:
            print('NO result')
            aspect=[]
            category_aspect=[]
            errores +=1
            lista_errores.append(cuenta)
            
        etiqueta_aspect,etiqueta_categoria=to_IOB(ast.literal_eval(lab_back['words'][cuenta]),aspect,category_aspect)   
        #list_aspect.append(etiqueta_aspect)
        #list_category_aspect.append(etiqueta_categoria)
        #print('procesado',cuenta)
        lab_back.loc[cuenta,'ASPECT']=','.join(etiqueta_aspect)
        lab_back.loc[cuenta,'CAT_ASPECT']=','.join(etiqueta_categoria)
        if cuenta % 100 == 0:
            lab_back.to_csv(path_1+f'{prompt}_english_{cuenta}_ok.csv', index=False) 
            print(f'Datos guardados en la iteración {cuenta}')
        cuenta +=1
    lab_back.to_csv(path_1+f'{prompt}_english_fin_ok.csv', index=False) 
    #return lab_back

MODELO EN EJECUCION meta-llama/Llama-3.3-70B-Instruct-Turbo
Resultado de  one_shot
 Frase= 0
Datos guardados en la iteración 0
 Frase= 1
 Frase= 2
 Frase= 3
 Frase= 4
 Frase= 5
 Frase= 6
 Frase= 7
 Frase= 8
 Frase= 9
 Frase= 10
 Frase= 11
 Frase= 12
 Frase= 13
 Frase= 14
 Frase= 15
 Frase= 16
 Frase= 17
 Frase= 18
 Frase= 19
 Frase= 20
 Frase= 21
 Frase= 22
 Frase= 23
 Frase= 24
 Frase= 25
 Frase= 26
 Frase= 27
 Frase= 28
 Frase= 29
 Frase= 30
 Frase= 31
 Frase= 32
 Frase= 33
 Frase= 34
 Frase= 35
 Frase= 36
 Frase= 37
 Frase= 38
 Frase= 39
 Frase= 40
 Frase= 41
 Frase= 42
 Frase= 43
 Frase= 44
 Frase= 45
 Frase= 46
 Frase= 47
 Frase= 48
 Frase= 49
 Frase= 50
 Frase= 51
 Frase= 52
 Frase= 53
 Frase= 54
 Frase= 55
 Frase= 56
 Frase= 57
 Frase= 58
 Frase= 59
 Frase= 60
 Frase= 61
 Frase= 62
 Frase= 63
 Frase= 64
 Frase= 65
 Frase= 66
 Frase= 67
 Frase= 68
 Frase= 69
 Frase= 70
 Frase= 71
 Frase= 72
 Frase= 73
 Frase= 74
 Frase= 75
 Frase= 76
 Frase= 77
 Frase= 78
 Frase= 79
 Frase= 80
 Frase= 81
 Frase= 82
 Frase= 83
 Frase= 84
 Frase= 85
 Frase= 86
 Frase= 87
 Frase= 88
 Frase= 89
 Frase= 90
 Frase= 91
 Frase= 92
 Frase= 93
 Frase= 94
 Frase= 95
 Frase= 96
 Frase= 97
 Frase= 98
 Frase= 99
 Frase= 100
Datos guardados en la iteración 100
 Frase= 101
 Frase= 102
 Frase= 103
 Frase= 104
 Frase= 105
 Frase= 106
 Frase= 107
 Frase= 108
 Frase= 109
 Frase= 110
 Frase= 111
 Frase= 112
 Frase= 113
 Frase= 114
 Frase= 115
 Frase= 116
 Frase= 117
 Frase= 118
 Frase= 119
 Frase= 120
 Frase= 121
 Frase= 122
 Frase= 123
 Frase= 124
 Frase= 125
 Frase= 126
 Frase= 127
 Frase= 128
 Frase= 129
 Frase= 130
 Frase= 131
 Frase= 132
 Frase= 133
 Frase= 134
 Frase= 135
 Frase= 136
 Frase= 137
 Frase= 138
 Frase= 139
 Frase= 140
 Frase= 141
 Frase= 142
 Frase= 143
 Frase= 144
 Frase= 145
 Frase= 146
 Frase= 147
 Frase= 148
 Frase= 149
 Frase= 150
 Frase= 151
 Frase= 152
 Frase= 153
 Frase= 154
 Frase= 155
 Frase= 156
 Frase= 157
 Frase= 158
 Frase= 159
 Frase= 160
 Frase= 161
 Frase= 162
 Frase= 163
 Frase= 164
 Frase= 165
 Frase= 166
 Frase= 167
 Frase= 168
 Frase= 169
 Frase= 170
 Frase= 171
 Frase= 172
 Frase= 173
 Frase= 174
 Frase= 175
 Frase= 176
 Frase= 177
 Frase= 178
 Frase= 179
 Frase= 180
 Frase= 181
 Frase= 182
 Frase= 183
 Frase= 184
 Frase= 185
 Frase= 186
 Frase= 187
 Frase= 188
 Frase= 189
 Frase= 190
 Frase= 191
 Frase= 192
 Frase= 193
 Frase= 194
 Frase= 195
 Frase= 196
 Frase= 197
 Frase= 198
 Frase= 199
 Frase= 200
Datos guardados en la iteración 200
 Frase= 201
 Frase= 202
 Frase= 203
 Frase= 204
 Frase= 205
 Frase= 206
 Frase= 207
 Frase= 208
 Frase= 209
 Frase= 210
 Frase= 211
 Frase= 212
 Frase= 213
 Frase= 214
 Frase= 215
 Frase= 216
 Frase= 217
 Frase= 218
 Frase= 219
 Frase= 220
 Frase= 221
 Frase= 222
 Frase= 223
 Frase= 224
 Frase= 225
 Frase= 226
 Frase= 227
 Frase= 228
 Frase= 229
 Frase= 230
 Frase= 231
 Frase= 232
 Frase= 233
 Frase= 234
 Frase= 235
 Frase= 236
 Frase= 237
 Frase= 238
 Frase= 239
 Frase= 240
 Frase= 241
 Frase= 242
 Frase= 243
 Frase= 244
 Frase= 245
 Frase= 246
 Frase= 247
 Frase= 248
 Frase= 249
 Frase= 250
 Frase= 251
 Frase= 252
 Frase= 253
 Frase= 254
 Frase= 255
 Frase= 256
 Frase= 257
 Frase= 258
 Frase= 259
 Frase= 260
 Frase= 261
 Frase= 262
 Frase= 263
 Frase= 264
 Frase= 265
 Frase= 266
 Frase= 267
 Frase= 268
 Frase= 269
 Frase= 270
 Frase= 271
 Frase= 272
 Frase= 273
 Frase= 274
 Frase= 275
 Frase= 276
 Frase= 277
 Frase= 278
 Frase= 279
 Frase= 280
 Frase= 281
 Frase= 282
 Frase= 283
 Frase= 284
 Frase= 285
 Frase= 286
 Frase= 287
 Frase= 288
 Frase= 289
 Frase= 290
 Frase= 291
 Frase= 292
 Frase= 293
 Frase= 294
 Frase= 295
 Frase= 296
 Frase= 297
 Frase= 298
 Frase= 299
 Frase= 300
Datos guardados en la iteración 300
 Frase= 301
 Frase= 302
 Frase= 303
 Frase= 304
 Frase= 305
 Frase= 306
 Frase= 307
 Frase= 308
 Frase= 309
 Frase= 310
 Frase= 311
 Frase= 312
 Frase= 313
 Frase= 314
 Frase= 315
 Frase= 316
 Frase= 317
 Frase= 318
 Frase= 319
 Frase= 320
 Frase= 321
 Frase= 322
 Frase= 323
 Frase= 324
 Frase= 325
 Frase= 326
 Frase= 327
 Frase= 328
 Frase= 329
 Frase= 330
 Frase= 331
 Frase= 332
 Frase= 333
 Frase= 334
 Frase= 335
 Frase= 336
 Frase= 337
 Frase= 338
 Frase= 339
 Frase= 340
 Frase= 341
 Frase= 342
 Frase= 343
 Frase= 344
 Frase= 345
 Frase= 346
 Frase= 347
 Frase= 348
 Frase= 349
 Frase= 350
 Frase= 351
 Frase= 352
 Frase= 353
 Frase= 354
 Frase= 355
 Frase= 356
 Frase= 357
 Frase= 358
 Frase= 359
 Frase= 360
 Frase= 361
 Frase= 362
 Frase= 363
 Frase= 364
 Frase= 365
 Frase= 366
 Frase= 367
 Frase= 368
 Frase= 369
 Frase= 370
 Frase= 371
 Frase= 372
 Frase= 373
 Frase= 374
 Frase= 375
 Frase= 376
 Frase= 377
 Frase= 378
 Frase= 379
 Frase= 380
 Frase= 381
 Frase= 382
 Frase= 383
 Frase= 384
 Frase= 385
 Frase= 386
 Frase= 387
 Frase= 388
 Frase= 389
 Frase= 390
 Frase= 391
 Frase= 392
 Frase= 393
 Frase= 394
 Frase= 395
 Frase= 396
 Frase= 397
 Frase= 398
 Frase= 399
 Frase= 400
Datos guardados en la iteración 400
 Frase= 401
 Frase= 402
 Frase= 403
 Frase= 404
 Frase= 405
 Frase= 406
 Frase= 407
 Frase= 408
 Frase= 409
 Frase= 410
 Frase= 411
 Frase= 412
 Frase= 413
 Frase= 414
 Frase= 415
 Frase= 416
 Frase= 417
 Frase= 418
 Frase= 419
 Frase= 420
 Frase= 421
 Frase= 422
 Frase= 423
 Frase= 424
 Frase= 425
 Frase= 426
 Frase= 427
 Frase= 428
 Frase= 429
 Frase= 430
 Frase= 431
 Frase= 432
 Frase= 433
 Frase= 434
 Frase= 435
 Frase= 436
 Frase= 437
 Frase= 438
 Frase= 439
 Frase= 440
 Frase= 441
 Frase= 442
 Frase= 443
 Frase= 444
 Frase= 445
 Frase= 446
 Frase= 447
 Frase= 448
 Frase= 449
 Frase= 450
 Frase= 451
 Frase= 452
 Frase= 453
 Frase= 454
 Frase= 455
 Frase= 456
 Frase= 457
 Frase= 458
 Frase= 459
 Frase= 460
 Frase= 461
 Frase= 462
 Frase= 463
 Frase= 464
 Frase= 465
 Frase= 466
 Frase= 467
 Frase= 468
 Frase= 469
 Frase= 470
 Frase= 471
 Frase= 472
 Frase= 473
 Frase= 474
 Frase= 475
 Frase= 476
 Frase= 477
 Frase= 478
 Frase= 479
 Frase= 480
 Frase= 481
 Frase= 482
 Frase= 483
 Frase= 484
 Frase= 485
 Frase= 486
 Frase= 487
 Frase= 488
 Frase= 489
 Frase= 490
 Frase= 491
 Frase= 492
 Frase= 493
 Frase= 494
 Frase= 495
 Frase= 496
 Frase= 497
 Frase= 498
 Frase= 499
 Frase= 500
Datos guardados en la iteración 500
 Frase= 501
 Frase= 502
 Frase= 503
 Frase= 504
 Frase= 505
 Frase= 506
 Frase= 507
 Frase= 508
 Frase= 509
 Frase= 510
 Frase= 511
 Frase= 512
 Frase= 513
 Frase= 514
 Frase= 515
 Frase= 516
 Frase= 517
 Frase= 518
 Frase= 519
 Frase= 520
 Frase= 521
 Frase= 522
 Frase= 523
 Frase= 524
 Frase= 525
 Frase= 526
 Frase= 527
 Frase= 528
 Frase= 529
 Frase= 530
 Frase= 531
 Frase= 532
 Frase= 533
 Frase= 534
 Frase= 535
 Frase= 536
 Frase= 537
 Frase= 538
 Frase= 539
 Frase= 540
 Frase= 541
 Frase= 542
 Frase= 543
 Frase= 544
 Frase= 545
 Frase= 546
 Frase= 547
 Frase= 548
 Frase= 549
 Frase= 550
 Frase= 551
 Frase= 552
 Frase= 553
 Frase= 554
 Frase= 555
 Frase= 556
 Frase= 557
 Frase= 558
 Frase= 559
 Frase= 560
 Frase= 561
 Frase= 562
 Frase= 563
 Frase= 564
 Frase= 565
 Frase= 566
 Frase= 567
 Frase= 568
 Frase= 569
 Frase= 570
 Frase= 571
 Frase= 572
 Frase= 573
 Frase= 574
 Frase= 575
 Frase= 576
 Frase= 577
 Frase= 578
 Frase= 579
 Frase= 580
 Frase= 581
 Frase= 582
 Frase= 583
 Frase= 584
 Frase= 585
 Frase= 586
 Frase= 587
 Frase= 588
 Frase= 589
 Frase= 590
 Frase= 591
 Frase= 592
 Frase= 593
 Frase= 594
 Frase= 595
 Frase= 596
 Frase= 597
 Frase= 598
 Frase= 599
 Frase= 600
Datos guardados en la iteración 600
 Frase= 601
 Frase= 602
 Frase= 603
 Frase= 604
 Frase= 605
 Frase= 606
 Frase= 607
 Frase= 608
 Frase= 609
 Frase= 610
 Frase= 611
 Frase= 612
 Frase= 613
 Frase= 614
 Frase= 615
 Frase= 616
 Frase= 617
 Frase= 618
 Frase= 619
 Frase= 620
 Frase= 621
 Frase= 622
 Frase= 623
 Frase= 624
 Frase= 625
 Frase= 626
 Frase= 627
 Frase= 628
 Frase= 629
 Frase= 630
 Frase= 631
 Frase= 632
 Frase= 633
 Frase= 634
 Frase= 635
 Frase= 636
 Frase= 637
 Frase= 638
 Frase= 639
 Frase= 640
 Frase= 641
 Frase= 642
 Frase= 643
 Frase= 644
 Frase= 645
 Frase= 646
 Frase= 647
 Frase= 648
 Frase= 649
 Frase= 650
 Frase= 651
 Frase= 652
 Frase= 653
 Frase= 654
 Frase= 655
 Frase= 656
 Frase= 657
 Frase= 658
 Frase= 659
 Frase= 660
 Frase= 661
 Frase= 662
 Frase= 663
 Frase= 664
 Frase= 665
 Frase= 666
 Frase= 667
 Frase= 668
 Frase= 669
 Frase= 670
 Frase= 671
 Frase= 672
 Frase= 673
 Frase= 674
 Frase= 675
 Frase= 676
 Frase= 677
 Frase= 678
 Frase= 679
 Frase= 680
 Frase= 681
 Frase= 682
 Frase= 683
 Frase= 684
 Frase= 685
 Frase= 686
 Frase= 687
 Frase= 688
 Frase= 689
 Frase= 690
 Frase= 691
 Frase= 692
 Frase= 693
 Frase= 694
 Frase= 695
 Frase= 696
 Frase= 697
 Frase= 698
 Frase= 699
 Frase= 700
Datos guardados en la iteración 700
 Frase= 701
 Frase= 702
 Frase= 703
 Frase= 704
 Frase= 705
 Frase= 706
 Frase= 707
 Frase= 708
 Frase= 709
 Frase= 710
 Frase= 711
 Frase= 712
 Frase= 713
 Frase= 714
 Frase= 715
 Frase= 716
 Frase= 717
 Frase= 718
 Frase= 719
 Frase= 720
 Frase= 721
 Frase= 722
 Frase= 723
 Frase= 724
 Frase= 725
 Frase= 726
 Frase= 727
 Frase= 728
 Frase= 729
 Frase= 730
 Frase= 731
 Frase= 732
 Frase= 733
 Frase= 734
 Frase= 735
 Frase= 736
 Frase= 737
 Frase= 738
 Frase= 739
 Frase= 740
 Frase= 741
 Frase= 742
 Frase= 743
 Frase= 744
 Frase= 745
Error en JSON tipo :  Expecting property name enclosed in double quotes: line 4 column 9 (char 73)
[]
 Frase= 746
 Frase= 747
 Frase= 748
 Frase= 749
 Frase= 750
 Frase= 751
 Frase= 752
 Frase= 753
 Frase= 754
 Frase= 755
 Frase= 756
 Frase= 757
 Frase= 758
 Frase= 759
 Frase= 760
 Frase= 761
 Frase= 762
 Frase= 763
 Frase= 764
 Frase= 765
 Frase= 766
 Frase= 767
 Frase= 768
 Frase= 769
 Frase= 770
 Frase= 771
 Frase= 772
 Frase= 773
 Frase= 774
 Frase= 775
 Frase= 776
 Frase= 777
 Frase= 778
 Frase= 779
 Frase= 780
 Frase= 781
 Frase= 782
 Frase= 783
 Frase= 784
 Frase= 785
 Frase= 786
 Frase= 787
 Frase= 788
 Frase= 789
 Frase= 790
 Frase= 791
 Frase= 792
 Frase= 793
 Frase= 794
 Frase= 795
 Frase= 796
 Frase= 797
 Frase= 798
 Frase= 799
 Frase= 800
Datos guardados en la iteración 800
 Frase= 801
 Frase= 802
 Frase= 803
 Frase= 804
 Frase= 805
 Frase= 806
 Frase= 807
 Frase= 808
 Frase= 809
 Frase= 810
 Frase= 811
 Frase= 812
 Frase= 813
 Frase= 814
 Frase= 815
 Frase= 816
 Frase= 817
 Frase= 818
 Frase= 819
 Frase= 820
 Frase= 821
 Frase= 822
 Frase= 823
 Frase= 824
 Frase= 825
 Frase= 826
 Frase= 827
 Frase= 828
 Frase= 829
 Frase= 830
 Frase= 831
 Frase= 832
 Frase= 833
 Frase= 834
 Frase= 835
 Frase= 836
 Frase= 837
 Frase= 838
 Frase= 839
 Frase= 840
 Frase= 841
 Frase= 842
 Frase= 843
 Frase= 844
 Frase= 845
 Frase= 846
 Frase= 847
 Frase= 848
 Frase= 849
 Frase= 850
 Frase= 851
 Frase= 852
 Frase= 853
 Frase= 854
 Frase= 855
 Frase= 856
 Frase= 857
 Frase= 858
 Frase= 859
 Frase= 860
 Frase= 861
 Frase= 862
 Frase= 863
 Frase= 864
 Frase= 865
 Frase= 866
 Frase= 867
 Frase= 868
 Frase= 869
 Frase= 870
 Frase= 871
 Frase= 872
 Frase= 873
 Frase= 874
 Frase= 875
 Frase= 876
 Frase= 877
 Frase= 878
 Frase= 879
 Frase= 880
 Frase= 881
 Frase= 882
 Frase= 883
 Frase= 884
 Frase= 885
 Frase= 886
 Frase= 887
 Frase= 888
 Frase= 889
 Frase= 890
 Frase= 891
 Frase= 892
 Frase= 893
 Frase= 894
 Frase= 895
 Frase= 896
 Frase= 897
 Frase= 898
 Frase= 899
 Frase= 900
Datos guardados en la iteración 900
 Frase= 901
 Frase= 902
 Frase= 903
 Frase= 904
 Frase= 905
 Frase= 906
 Frase= 907
 Frase= 908
 Frase= 909
 Frase= 910
 Frase= 911
 Frase= 912
 Frase= 913
 Frase= 914
 Frase= 915
 Frase= 916
 Frase= 917
 Frase= 918
 Frase= 919
 Frase= 920
 Frase= 921
 Frase= 922
 Frase= 923
 Frase= 924
 Frase= 925
 Frase= 926
 Frase= 927
 Frase= 928
 Frase= 929
 Frase= 930
 Frase= 931
 Frase= 932
 Frase= 933
 Frase= 934
 Frase= 935
 Frase= 936
 Frase= 937
 Frase= 938
 Frase= 939
 Frase= 940
 Frase= 941
 Frase= 942
 Frase= 943
 Frase= 944
 Frase= 945
 Frase= 946
 Frase= 947
 Frase= 948
 Frase= 949
 Frase= 950
 Frase= 951
 Frase= 952
 Frase= 953
 Frase= 954
 Frase= 955
 Frase= 956
 Frase= 957
 Frase= 958
 Frase= 959
 Frase= 960
 Frase= 961
 Frase= 962
 Frase= 963
 Frase= 964
 Frase= 965
 Frase= 966
 Frase= 967
 Frase= 968
 Frase= 969
 Frase= 970
 Frase= 971
 Frase= 972
 Frase= 973
 Frase= 974
 Frase= 975
 Frase= 976
 Frase= 977
 Frase= 978
 Frase= 979
 Frase= 980
 Frase= 981
 Frase= 982
 Frase= 983
 Frase= 984
 Frase= 985
 Frase= 986
 Frase= 987
 Frase= 988
 Frase= 989
 Frase= 990
 Frase= 991
 Frase= 992
 Frase= 993
 Frase= 994
 Frase= 995
 Frase= 996
 Frase= 997
 Frase= 998
 Frase= 999
 Frase= 1000
Datos guardados en la iteración 1000
 Frase= 1001
 Frase= 1002
 Frase= 1003
 Frase= 1004
 Frase= 1005
 Frase= 1006
 Frase= 1007
 Frase= 1008
 Frase= 1009
 Frase= 1010
 Frase= 1011
 Frase= 1012
 Frase= 1013
 Frase= 1014
 Frase= 1015
 Frase= 1016
 Frase= 1017
 Frase= 1018
 Frase= 1019
 Frase= 1020
 Frase= 1021
 Frase= 1022
 Frase= 1023
 Frase= 1024
 Frase= 1025
 Frase= 1026
 Frase= 1027
 Frase= 1028
 Frase= 1029
 Frase= 1030
 Frase= 1031
 Frase= 1032
 Frase= 1033
 Frase= 1034
 Frase= 1035
 Frase= 1036
 Frase= 1037
 Frase= 1038
 Frase= 1039
 Frase= 1040
 Frase= 1041
 Frase= 1042
 Frase= 1043
 Frase= 1044
 Frase= 1045
 Frase= 1046
 Frase= 1047
 Frase= 1048
 Frase= 1049
 Frase= 1050
 Frase= 1051
 Frase= 1052
 Frase= 1053
 Frase= 1054
 Frase= 1055
 Frase= 1056
 Frase= 1057
 Frase= 1058
 Frase= 1059
 Frase= 1060
 Frase= 1061
 Frase= 1062
 Frase= 1063
 Frase= 1064
 Frase= 1065
 Frase= 1066
 Frase= 1067
 Frase= 1068
 Frase= 1069
 Frase= 1070
 Frase= 1071
 Frase= 1072
 Frase= 1073
 Frase= 1074
 Frase= 1075
 Frase= 1076
 Frase= 1077
 Frase= 1078
 Frase= 1079
 Frase= 1080
 Frase= 1081
 Frase= 1082
 Frase= 1083
 Frase= 1084
 Frase= 1085
 Frase= 1086
 Frase= 1087
 Frase= 1088
 Frase= 1089
 Frase= 1090
 Frase= 1091
 Frase= 1092
 Frase= 1093
 Frase= 1094
 Frase= 1095
 Frase= 1096
 Frase= 1097
 Frase= 1098
 Frase= 1099
 Frase= 1100
Datos guardados en la iteración 1100
 Frase= 1101
 Frase= 1102
 Frase= 1103
 Frase= 1104
 Frase= 1105
 Frase= 1106
 Frase= 1107
 Frase= 1108
 Frase= 1109
 Frase= 1110
 Frase= 1111
 Frase= 1112
 Frase= 1113
 Frase= 1114
 Frase= 1115
 Frase= 1116
 Frase= 1117
 Frase= 1118
 Frase= 1119
 Frase= 1120
 Frase= 1121
 Frase= 1122
 Frase= 1123
 Frase= 1124
 Frase= 1125
 Frase= 1126
 Frase= 1127
 Frase= 1128
 Frase= 1129
 Frase= 1130
 Frase= 1131
 Frase= 1132
 Frase= 1133
 Frase= 1134
 Frase= 1135
 Frase= 1136
 Frase= 1137
 Frase= 1138
 Frase= 1139
 Frase= 1140
 Frase= 1141
 Frase= 1142
 Frase= 1143
 Frase= 1144
 Frase= 1145
 Frase= 1146
 Frase= 1147
 Frase= 1148
 Frase= 1149
 Frase= 1150
 Frase= 1151
 Frase= 1152
 Frase= 1153
 Frase= 1154
 Frase= 1155
 Frase= 1156
 Frase= 1157
 Frase= 1158
 Frase= 1159
 Frase= 1160
 Frase= 1161
 Frase= 1162
 Frase= 1163
 Frase= 1164
 Frase= 1165
 Frase= 1166
 Frase= 1167
 Frase= 1168
 Frase= 1169
 Frase= 1170
 Frase= 1171
 Frase= 1172
 Frase= 1173
 Frase= 1174
 Frase= 1175
 Frase= 1176
 Frase= 1177
 Frase= 1178
 Frase= 1179
 Frase= 1180
 Frase= 1181
 Frase= 1182
 Frase= 1183
 Frase= 1184
 Frase= 1185
 Frase= 1186
 Frase= 1187
 Frase= 1188
 Frase= 1189
 Frase= 1190
 Frase= 1191
 Frase= 1192
 Frase= 1193
 Frase= 1194
 Frase= 1195
 Frase= 1196
 Frase= 1197
 Frase= 1198
 Frase= 1199
 Frase= 1200
Datos guardados en la iteración 1200
 Frase= 1201
 Frase= 1202
 Frase= 1203
 Frase= 1204
 Frase= 1205
 Frase= 1206
 Frase= 1207
 Frase= 1208
 Frase= 1209
 Frase= 1210
 Frase= 1211
 Frase= 1212
 Frase= 1213
 Frase= 1214
 Frase= 1215
 Frase= 1216
 Frase= 1217
 Frase= 1218
 Frase= 1219
 Frase= 1220
 Frase= 1221
 Frase= 1222
 Frase= 1223
 Frase= 1224
 Frase= 1225
 Frase= 1226
 Frase= 1227
 Frase= 1228
 Frase= 1229
 Frase= 1230
 Frase= 1231
 Frase= 1232
 Frase= 1233
 Frase= 1234
 Frase= 1235
 Frase= 1236
 Frase= 1237
 Frase= 1238
 Frase= 1239
 Frase= 1240
 Frase= 1241
 Frase= 1242
 Frase= 1243
 Frase= 1244
 Frase= 1245
 Frase= 1246
 Frase= 1247
 Frase= 1248
 Frase= 1249
 Frase= 1250
 Frase= 1251
 Frase= 1252
 Frase= 1253
 Frase= 1254
 Frase= 1255
 Frase= 1256
 Frase= 1257
 Frase= 1258
 Frase= 1259
 Frase= 1260
 Frase= 1261
 Frase= 1262
 Frase= 1263
 Frase= 1264
 Frase= 1265
 Frase= 1266
 Frase= 1267
 Frase= 1268
 Frase= 1269
 Frase= 1270
 Frase= 1271
 Frase= 1272
 Frase= 1273
 Frase= 1274
 Frase= 1275
 Frase= 1276
 Frase= 1277
 Frase= 1278
 Frase= 1279
 Frase= 1280
 Frase= 1281
 Frase= 1282
 Frase= 1283
 Frase= 1284
 Frase= 1285
 Frase= 1286
 Frase= 1287
 Frase= 1288
 Frase= 1289
 Frase= 1290
 Frase= 1291
 Frase= 1292
 Frase= 1293
 Frase= 1294
 Frase= 1295
 Frase= 1296
 Frase= 1297
 Frase= 1298
 Frase= 1299
 Frase= 1300
Datos guardados en la iteración 1300
 Frase= 1301
 Frase= 1302
 Frase= 1303
 Frase= 1304
 Frase= 1305
 Frase= 1306
 Frase= 1307
 Frase= 1308
 Frase= 1309
 Frase= 1310
 Frase= 1311
 Frase= 1312
 Frase= 1313
 Frase= 1314
 Frase= 1315
 Frase= 1316
 Frase= 1317
 Frase= 1318
 Frase= 1319
 Frase= 1320
 Frase= 1321
 Frase= 1322
 Frase= 1323
 Frase= 1324
 Frase= 1325
 Frase= 1326
 Frase= 1327
 Frase= 1328
 Frase= 1329
 Frase= 1330
 Frase= 1331
 Frase= 1332
 Frase= 1333
 Frase= 1334
 Frase= 1335
 Frase= 1336
 Frase= 1337
 Frase= 1338
 Frase= 1339
 Frase= 1340
 Frase= 1341
 Frase= 1342
 Frase= 1343
 Frase= 1344
 Frase= 1345
 Frase= 1346
 Frase= 1347
 Frase= 1348
 Frase= 1349
 Frase= 1350
 Frase= 1351
 Frase= 1352
 Frase= 1353
 Frase= 1354
 Frase= 1355
 Frase= 1356
 Frase= 1357
 Frase= 1358
 Frase= 1359
 Frase= 1360
 Frase= 1361
 Frase= 1362
 Frase= 1363
 Frase= 1364
 Frase= 1365
 Frase= 1366
 Frase= 1367
 Frase= 1368
 Frase= 1369
 Frase= 1370
 Frase= 1371
 Frase= 1372
 Frase= 1373
 Frase= 1374
 Frase= 1375
 Frase= 1376
 Frase= 1377
 Frase= 1378
 Frase= 1379
 Frase= 1380
 Frase= 1381
 Frase= 1382
 Frase= 1383
 Frase= 1384
 Frase= 1385
 Frase= 1386
 Frase= 1387
 Frase= 1388
 Frase= 1389
 Frase= 1390
 Frase= 1391
 Frase= 1392
 Frase= 1393
 Frase= 1394
 Frase= 1395
 Frase= 1396
 Frase= 1397
 Frase= 1398
 Frase= 1399
 Frase= 1400
Datos guardados en la iteración 1400
 Frase= 1401
 Frase= 1402
 Frase= 1403
 Frase= 1404
 Frase= 1405
 Frase= 1406
 Frase= 1407
 Frase= 1408
 Frase= 1409
 Frase= 1410
 Frase= 1411
 Frase= 1412
 Frase= 1413
 Frase= 1414
 Frase= 1415
 Frase= 1416
 Frase= 1417
 Frase= 1418
 Frase= 1419
 Frase= 1420
 Frase= 1421
 Frase= 1422
 Frase= 1423
 Frase= 1424
 Frase= 1425
 Frase= 1426
 Frase= 1427
 Frase= 1428
 Frase= 1429
 Frase= 1430
 Frase= 1431
 Frase= 1432
 Frase= 1433
 Frase= 1434
 Frase= 1435
 Frase= 1436
 Frase= 1437
 Frase= 1438
 Frase= 1439
 Frase= 1440
 Frase= 1441
 Frase= 1442
 Frase= 1443
 Frase= 1444
 Frase= 1445
 Frase= 1446
 Frase= 1447
 Frase= 1448
 Frase= 1449
 Frase= 1450
 Frase= 1451
 Frase= 1452
 Frase= 1453
 Frase= 1454
 Frase= 1455
 Frase= 1456
 Frase= 1457
 Frase= 1458
 Frase= 1459
 Frase= 1460
 Frase= 1461
 Frase= 1462
 Frase= 1463
 Frase= 1464
 Frase= 1465
 Frase= 1466
 Frase= 1467
 Frase= 1468
 Frase= 1469
 Frase= 1470
 Frase= 1471
 Frase= 1472
 Frase= 1473
 Frase= 1474
 Frase= 1475
 Frase= 1476
 Frase= 1477
 Frase= 1478
 Frase= 1479
 Frase= 1480
 Frase= 1481
 Frase= 1482
 Frase= 1483
 Frase= 1484
 Frase= 1485
 Frase= 1486
 Frase= 1487
 Frase= 1488
 Frase= 1489
 Frase= 1490
 Frase= 1491
 Frase= 1492
 Frase= 1493
 Frase= 1494
 Frase= 1495
 Frase= 1496
 Frase= 1497
 Frase= 1498
 Frase= 1499
 Frase= 1500
Datos guardados en la iteración 1500
 Frase= 1501
 Frase= 1502
 Frase= 1503
 Frase= 1504
 Frase= 1505
 Frase= 1506
 Frase= 1507
 Frase= 1508
 Frase= 1509
 Frase= 1510
 Frase= 1511
 Frase= 1512
 Frase= 1513
 Frase= 1514
 Frase= 1515
 Frase= 1516
 Frase= 1517
 Frase= 1518
 Frase= 1519
 Frase= 1520
 Frase= 1521
 Frase= 1522
 Frase= 1523
 Frase= 1524
 Frase= 1525
 Frase= 1526
 Frase= 1527
 Frase= 1528
 Frase= 1529
 Frase= 1530
 Frase= 1531
 Frase= 1532
 Frase= 1533
 Frase= 1534
 Frase= 1535
 Frase= 1536
 Frase= 1537
 Frase= 1538
 Frase= 1539
 Frase= 1540
 Frase= 1541
 Frase= 1542
 Frase= 1543
 Frase= 1544
 Frase= 1545
 Frase= 1546
 Frase= 1547
 Frase= 1548
 Frase= 1549
 Frase= 1550
 Frase= 1551
 Frase= 1552
 Frase= 1553
 Frase= 1554
 Frase= 1555
 Frase= 1556
 Frase= 1557
 Frase= 1558
 Frase= 1559
 Frase= 1560
 Frase= 1561
 Frase= 1562
 Frase= 1563
 Frase= 1564

## IOB format funtions

In [15]:
def extract_entitites(ent_dict):
    all_values = []
    list_category=[]
    for category,sublist in ent_dict.items():
        for value_list in sublist:
            all_values.append(value_list)
            list_category.append(category)
    
    return all_values,list_category

In [16]:
def find_sub_list(sl,l):
    results=[]
    sll=len(sl)
    for ind in (i for i,e in enumerate(l) if e==sl[0]):
        if l[ind:ind+sll]==sl:
            results.append((ind,ind+sll-1))


    return results

In [22]:
lista_errores

[]

In [17]:

# El problema es  que cuando se pasa una frase a iob se usaba sentence split y esto no coindice con la sepracion de palabras. Luego hay que usar la separacion de palabras y no frase.
def to_IOB(sentence, entity_list,category_list):
    
    #split sentence and make into list with O's
    sentence_O=[["O"] *len(sentence)][0]
    sentence_1=[["O"] *len(sentence)][0]
    
    #sentence_O = [["O"] * len(sentence.split(" "))][0]
    if len(entity_list) != 0: 
        cuenta=0
        for ent in entity_list:
            ent_ok = re.findall(r'\w+|[^\w\s]', ent)
            #esta línea filtra los signos de puntuación de la lista, permitiendo solo los elementos alfanuméricos y conservando los signos de puntuación que están en la lista ['.', ';',','].
            ent_ok_filtrada = [elemento for elemento in ent_ok if elemento not in string.punctuation or elemento in ['.', ';',',']]

            #find indices of sublist entity in list sentence
            ind = find_sub_list(ent_ok_filtrada,sentence) 
          
            #insert IOB-aspect pattern into sentence with O's
            for result in ind:
                #make list of numbers out of index information [(51,53)] = [51,52,53]
                all_indices = list(range(result[0], result[-1]+1))    
            #index of start aspect = B-aspect
                start_index = all_indices[0]
                sentence_O[start_index] = "B-ASPECT"
                sentence_1[start_index] = f"B-{category_list[cuenta].upper()}"
                

            #index of other parts of the aspect = I-aspect
                other_indices = all_indices[1:]
                for other_ind in other_indices:
                    sentence_O[other_ind] = "I-ASPECT"
                    sentence_1[other_ind] = f"I-{category_list[cuenta].upper()}"
                    
            cuenta +=1   
        #print(sentence_O)
        #print(sentence_1)
    return sentence_O, sentence_1

# Evaluation

In [ ]:
#CARGO LOS DATOS Y LO CONVIERTO EN LISTA DE LISTAS
#"Coarse grey mud , superficial layer more liquid and brown
#OJO QUE HAY DOS FORMATOS DIFERNTES EL TRUE Y EL RESTO
res_ok=pd.read_csv('/Users/salvador/GitHub/absa-travelogues/ABSA_data_ok/resultado_ok_century/chain_of_thought_english_fin_ok.csv')

true = res_ok["gold_labels"].to_list()
true1=[ast.literal_eval(string) for string in true]
predicted = res_ok["ASPECT"].to_list()
predicted1=[string.split(',') for string in predicted]
predicted_cat=res_ok["CAT_ASPECT"].to_list()
predicted_cat1=[string.split(',') for string in  predicted_cat]

In [241]:
true = res_ok["gold_labels"].to_list()
true1=[ast.literal_eval(string) for string in true]
predicted = res_ok["ASPECT"].to_list()
predicted1=[string.split(',') for string in predicted]
predicted_cat=res_ok["CAT_ASPECT"].to_list()
predicted_cat1=[string.split(',') for string in  predicted_cat]

## Check that everything is correct

In [242]:
print("Type of true is list:", isinstance(true1, list))
print("Type of predicted is list:", isinstance(predicted1, list))
print("Type of true[0] is list:", isinstance(true1[0], list))
print("Type of predicted[0] is list:", isinstance(predicted1[0], list))
print("Type of predicted_cast[0] is list:", isinstance(predicted_cat1[0], list))

Type of true is list: True
Type of predicted is list: True
Type of true[0] is list: True
Type of predicted[0] is list: True
Type of predicted_cast[0] is list: True

In [243]:
for sequence in predicted_cat1:
    for label in sequence:
        if not isinstance(label, str):
            print(label, type(label))  # Each label should be a string

In [244]:
for sequence in true1:
    for label in sequence:
        if not isinstance(label, str):
            print(label, type(label))  # Each label should be a string

In [245]:
for sequence in predicted1:
    for label in sequence:
        if not isinstance(label, str):
            print(label, type(label))  # Each label should be a string

In [246]:
num=26
print(true1[num])
print(predicted1[num])
print(predicted_cat1[num])

['B-FAUNA', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O']

## Evaluate

In [ ]:
lab_back.to_csv(path_1+f'chain_of_thought_english_fin_ok.csv', index=False)

In [259]:
true1[0]

['O',
 'B-PERSON',
 'I-PERSON',
 'I-PERSON',
 'O',
 'O',
 'B-PERSON',
 'I-PERSON',
 'I-PERSON',
 'O',
 'O',
 'O',
 'B-HUM_LANDFORM',
 'O',
 'O']

In [247]:
Tags=['PERSON', 'LOCATION','FAUNA','FLORA', 'WEATHER_PHENOMENA', 'ORGANISATION','BIOMES','MYTHOLOGICAL_ENTITIES','HUMAN_LANDFORM','NATURAL_LANDFORM','NATURAL_PHENOMENON','LAND_COVER']

In [248]:
evaluator = Evaluator(true1, predicted_cat1, tags=['PERSON', 'LOCATION','FAUNA','FLORA', 'WEATHER_PHENOMENA', 'ORGANISATION','BIOMES','MYTHOLOGICAL_ENTITIES','HUMAN_LANDFORM','NATURAL_LANDFORM','NATURAL_PHENOMENON','LAND_COVER'], loader="list")

In [249]:
a,b,c,results_by_tag =evaluator.evaluate()

In [257]:
res_ok.columns

Index(['Century', 'text', 'sentence', 'annotation', 'aspect_cat', 'results',
       'words', 'gold_labels', 'ASPECT', 'CAT_ASPECT'],
      dtype='object')

In [1]:
%pip install wikipedia-api

Collecting wikipedia-api
  Downloading wikipedia_api-0.7.1.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /Users/salvador/opt/anaconda3/envs/neurips-llm/lib/python3.10/site-packages (from wikipedia-api) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/salvador/opt/anaconda3/envs/neurips-llm/lib/python3.10/site-packages (from requests->wikipedia-api) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/salvador/opt/anaconda3/envs/neurips-llm/lib/python3.10/site-packages (from requests->wikipedia-api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/salvador/opt/anaconda3/envs/neurips-llm/lib/python3.10/site-packages (from requests->wikipedia-api) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/salvador/opt/anaconda3/envs/neurips-llm/lib/python3.10/site-packages (from requests->wikipedia-api) (2023.7.22)
Building wheels for collected packages: wikipedia-api
  Building wheel for wikipedia-api (setup.py) ... done
  Created wheel for wikipedia-api: filename=Wikipedia_API-0.7.1-py3-none-any.whl size=14346 sha256=bca477ad66c1d16bb02e3d3fc338ca01c4ce7eb32785c45ec20873a8186df658
  Stored in directory: /Users/salvador/Library/Caches/pip/wheels/4c/96/18/b9201cc3e8b47b02b510460210cfd832ccf10c0c4dd0522962
Successfully built wikipedia-api
Installing collected packages: wikipedia-api
Successfully installed wikipedia-api-0.7.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
!which python

/Users/salvador/opt/anaconda3/envs/neurips-llm/bin/python

In [3]:
import sys
sys.executable

'/Users/salvador/opt/anaconda3/envs/neurips-llm/bin/python'

In [26]:
import wikipediaapi
wiki_wiki = wikipediaapi.Wikipedia(user_agent='Travel_project(sros@scc.uned.es)',language='es',extract_format=wikipediaapi.ExtractFormat.WIKI)

In [29]:
page_py = wiki_wiki.page('dolor ')
print("Page - Exists: %s" % page_py.exists())
print("Page - Title: %s" % page_py.title)
print("Page - Summary: %s" % page_py.summary[0:60])

Page - Exists: False
Page - Title: dolor de boca
Page - Summary:

In [13]:
def print_sections(sections, level=0):
        for s in sections:
                print("%s: %s - %s" % ("*" * (level + 1), s.title, s.text[0:40]))
                print_sections(s.sections, level + 1)
print_sections(page_py.sections)

In [161]:

HUGGINGFACEHUB_API_TOKEN = "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"
os.environ["HUGGINGFACEHUB_API_TOKEN"] = HUGGINGFACEHUB_API_TOKEN
import wikipediaapi
wiki_wiki = wikipediaapi.Wikipedia('MyProjectName (merlin@example.com)', 'en')

TypeError: 'type' object is not subscriptable

In [ ]:
Esultado: {'person': [], 'location': [], 'fauna': ['plankton'], 'flora': [], 'weather': [], 'organisation': [], 'biome': [], 'myth': [], 'hum_landform': [], 'nat_landform': [], 'nat_phenomenon': [], 'land_cover': []}
categoria aspect ['fauna']
entidad: ['plankton']
entidad filtrada: ['plankton']
etiqueta_aspect ['O', 'O']
etiqueta_categoria ['O', 'O']

In [ ]:
sentence=['Plankton']
categoria_aspect= ['fauna']
entidad=['plankton']
entidad=['plankton']
ind=find_sub_list(entidad,sentence)
sentence=['Plankton']
entidad=['plankton']

In [ ]:
entidad=['B', '.', 'arenosa']
sentence=['It', 'is' ,'very', 'closely' ,'allied', 'to' ,'B','.', 'arenosa','Goodsir']
entity_list=entidad

In [167]:


entidad=['B', '.', 'arenosa']
sentence=['It', 'is' ,'very', 'closely' ,'allied', 'to' ,'B','.', 'arenosa','Goodsir']
sentence=['Plankton']
entidad=['Plankton']    
def find_sub_list(ent_1,sentence_1):
    results=[]
    sll=len(ent_1)
    for ind in (i for i,e in enumerate(sentence_1) if e.upper()==ent_1[0].upper()):
        if [elem.lower() for elem in sentence_1[ind:ind+sll]] == [elem.lower() for elem in ent_1]:
            results.append((ind,ind+sll-1))
    return results
    
ind=find_sub_list(entidad,sentence)
print(ind)

[(0, 0)]

In [ ]:

entity_list=['B', '.', 'arenosa']
sentence=['It', 'is' ,'very', 'closely' ,'allied', 'to' ,'B','.', 'arenosa','Goodsir']
for ent in entity_list:
            ent_ok = re.findall(r"\w+|[^\w\s]", ent)
            # esta línea filtra los signos de puntuación de la lista, permitiendo solo los elementos alfanuméricos y conservando los signos de puntuación que están en la lista ['.', ';',','].
            ent_ok_filtrada = [
                elemento
                for elemento in ent_ok
                if elemento not in string.punctuation or elemento in [".", ";", ","]
            ]
            print('entidad:',ent_ok)
            print('entidad filtrada:',ent_ok_filtrada)
            # find indices of sublist entity in list sentence
            ind = find_sub_list(ent_ok_filtrada, sentence)
            print('indices',ind)
            # insert IOB-aspect pattern into sentence with O's
            for result in ind:
                # make list of numbers out of index information [(51,53)] = [51,52,53]
                all_indices = list(range(result[0], result[-1] + 1))
                # index of start aspect = B-aspect
                start_index = all_indices[0]
                sentence_O[start_index] = "B-ASPECT"
                sentence_1[start_index] = f"B-{category_list[cuenta].upper()}"

                # index of other parts of the aspect = I-aspect
                other_indices = all_indices[1:]
                for other_ind in other_indices:
                    sentence_O[other_ind] = "I-ASPECT"
                    sentence_1[other_ind] = f"I-{category_list[cuenta].upper()}"

            cuenta += 1

In [55]:
sentence_O=[["O"] *len(sentence)][0]
sentence_1=[["O"] *len(sentence)][0]

In [71]:
entity_list

['B', '.', 'arenosa']

In [67]:
    sentence_O=[["O"] *len(sentence)][0]
    sentence_1=[["O"] *len(sentence)][0]
    
    #sentence_O = [["O"] * len(sentence.split(" "))][0]
    if len(entity_list) != 0: 
        cuenta=0
        for ent in entity_list:
            ent_ok = re.findall(r'\w+|[^\w\s]', ent)
            print(ent_ok)
            #esta línea filtra los signos de puntuación de la lista, permitiendo solo los elementos alfanuméricos y conservando los signos de puntuación que están en la lista ['.', ';',','].
            ent_ok_filtrada = [elemento for elemento in ent_ok if elemento not in string.punctuation or elemento in ['.', ';',',']]
            print(ent_ok_filtrada)
            print(type(ent_ok_filtrada))
            print(type(sentence))
            #find indices of sublist entity in list sentence
            ind = find_sub_list(ent_ok_filtrada,sentence) 
          
            #insert IOB-aspect pattern into sentence with O's
            for result in ind:
                #make list of numbers out of index information [(51,53)] = [51,52,53]
                all_indices = list(range(result[0], result[-1]+1))    
            #index of start aspect = B-aspect
                start_index = all_indices[0]
                sentence_O[start_index] = "B-ASPECT"
                sentence_1[start_index] = f"B-dato"
                

            #index of other parts of the aspect = I-aspect
                other_indices = all_indices[1:]
                for other_ind in other_indices:
                    sentence_O[other_ind] = "I-ASPECT"
                    sentence_1[other_ind] = f"I-dato"
                    
            cuenta +=1   
        #print(sentence_O)
        #print(sentence_1)

['B']
['B']
<class 'list'>
<class 'list'>
['.']
['.']
<class 'list'>
<class 'list'>
['arenosa']
['arenosa']
<class 'list'>
<class 'list'>

In [70]:
print(sentence_O)
print(sentence_1)

['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ASPECT', 'O']
['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-dato', 'O']

In [73]:
dato={"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather_phenomena": [],
    "organisation": [],
    "biomes": ["Amazon rainforest"],
    "mythological_entities": [],
    "human_landform": [],
    "natural_landform": ["Andes Mountains"],
    "natural_phenomenon": [],
    "land_cover": [],
   }

In [74]:
a,b=extract_entitites(dato)

In [81]:
print(b)

['fauna', 'flora', 'biomes', 'natural_landform']

In [171]:
contenido_sys = "You are a historian and literary scholar with expertise on historical travel literature, colonial literature and labelling named entities"

one_shot="""Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biome: names of biomes
- myth: fantastical entities, deities, or God
- hum_landform: landforms influenced by people
- nat_landform: landforms not influenced by people
- nat_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biome": ["entity_1", "entity_2", "entity_n"],
        "myth": ["entity_1", "entity_2", "entity_n"],
        "hum_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }
        
"""


few_shot= f"""{one_shot} 
Here you have some examples:
Example1:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>
Output:
   {{"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather": ["Hurricane\\'s' Katrina"],
    "organisation": [],
    "biome": [],
    "myth": [],
    "hum_landform": [],
    "nat_landform": [],
    "nat_phenomenon": ['flooding'],
    "land_cover": [],
  }}
  
Example 2:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>
Output:
   {{"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }} 
Example 3:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>
Output:
   {{"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }}
  """

In [174]:
chain_of_thought= f"""{one_shot}
Let's approach this step-by-step:
Example 1:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>

Step 1: Identify potential named entities
- Amazon rainforest
- jaguars
- giant water lilies
- Andes Mountains

Step 2: Categorize each entity and asign a label
- Amazon rainforest: biome (rainforest is a type of biome)
- jaguars: fauna (common name of an animal)
- giant water lilies: flora (common name of a plant)
- Andes Mountains: nat_landform (mountain range not influenced by people)

Step 3: Format the output

   {{"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }}

Example 2:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>

Step 1: Identify potential named entities
- Hurricane Katrina
- New Orleans

Step 2: Categorize each entity and asign a label
- Hurricane's Katrina: weather (description of a weather event)
- New Orleans: location (proper name of a city)

Step 3: Format the output

  { {"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather": ["Hurricane Katrina"],
    "organisation": [],
    "biome": [],
    "myth": [],
    "hum_landform": [],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }}

Example 3:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>

Step 1: Identify potential named entities
- Great Wall of China
- Gobi Desert
- Bactrian camels

Step 2: Categorize each entity and asign a label
- Great Wall of China: hum_landform (man-made structure influencing the landscape)
- Gobi Desert: biome (desert is a type of biome)
- Bactrian camels: fauna (common name of an animal)

Step 3: Format the output

   {{"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }}

Now, DO NOT take into account the previous examples, use them JUST AS A REFERENCE. 

The sentence for analyzing is:
"""

In [62]:
ent_dict={'person': ['Weber, Max','pepe'], 'location': ['pep'], 'fauna': [], 'flora': [], 'weather': [], 'organisation': [], 'biome': [], 'myth': [], 'hum_landform': [], 'nat_landform': [], 'nat_phenomenon': [], 'land_cover': []}

def extract_entitites(ent_dict):
    all_values = []
    list_category = []
    for category,value_list in ent_dict.items():
            print(category)
            print(value_list)
            print(type(value_list))
            if(value_list!=[]):
                all_values.append(value_list)
                list_category.append(category)

    return all_values, list_category

a,b=extract_entitites(ent_dict)

person
['Weber, Max', 'pepe']
<class 'list'>
location
['pep']
<class 'list'>
fauna
[]
<class 'list'>
flora
[]
<class 'list'>
weather
[]
<class 'list'>
organisation
[]
<class 'list'>
biome
[]
<class 'list'>
myth
[]
<class 'list'>
hum_landform
[]
<class 'list'>
nat_landform
[]
<class 'list'>
nat_phenomenon
[]
<class 'list'>
land_cover
[]
<class 'list'>

In [65]:
print(a)

[['Weber, Max', 'pepe'], ['pep']]

In [67]:
flat_list = [item for sublist in a for item in sublist]

In [68]:
print(flat_list)

['Weber, Max', 'pepe', 'pep']

In [46]:
if a and isinstance(a[0], list):  # Verifica que a[0] sea una lista
    ent_ok = [
        re.findall(r"\w+|[^\w\s]", elemento) for elemento in a[0] if isinstance(elemento, str)
    ]
    print(ent_ok)
else:
  print('n')

[['Weber', ',', 'Max'], ['pepe']]

In [41]:
import re
ent_ok = re.findall(r"\w+|[^\w\s]", a[0])

TypeError: expected string or bytes-like object

In [25]:
print(ent_ok)

['Lieut', '-']

In [26]:
import string
ent_ok_filtrada = [
                elemento
                for elemento in ent_ok
                if elemento not in string.punctuation or elemento in [".", ";", ","]]

In [27]:
ent_ok_filtrada

['Lieut']

In [177]:
prompts=[one_shot,few_shot,chain_of_thought]
prompts_name=['one_shot','few_shot','chain_of_thought']
for i,value in enumerate(prompts):
    contenido_prompt_activo = value
    nombre_prompt = prompts_name[i]
    print(f"Nombre: {nombre_prompt}, Contenido: {contenido_prompt_activo}")

Nombre: one_shot, Contenido: Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biome: names of biomes
- myth: fantastical entities, deities, or God
- hum_landform: landforms influenced by people
- nat_landform: landforms not influenced by people
- nat_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biome": ["entity_1", "entity_2", "entity_n"],
        "myth": ["entity_1", "entity_2", "entity_n"],
        "hum_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }


Nombre: few_shot, Contenido: Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biome: names of biomes
- myth: fantastical entities, deities, or God
- hum_landform: landforms influenced by people
- nat_landform: landforms not influenced by people
- nat_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biome": ["entity_1", "entity_2", "entity_n"],
        "myth": ["entity_1", "entity_2", "entity_n"],
        "hum_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }


Here you have some examples:
Example1:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>
Output:
   {"person": [],
    "location": ["New Orleans"],
    "fauna": [],
    "flora": [],
    "weather": ["Hurricane\'s' Katrina"],
    "organisation": [],
    "biome": [],
    "myth": [],
    "hum_landform": [],
    "nat_landform": [],
    "nat_phenomenon": ['flooding'],
    "land_cover": [],
  }

Example 2:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>
Output:
   {"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }
Example 3:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>
Output:
   {"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }

Nombre: chain_of_thought, Contenido: Task: Extract relevant named entities from the given sentence based on the following labels:
- person: proper names of people
- location: proper names of locations
- fauna: common and scientific names of animals and fauna
- flora: common and scientific names of plants and flora
- weather: descriptions of weather phenomena and climate
- organisation: proper names of organizations
- biome: names of biomes
- myth: fantastical entities, deities, or God
- hum_landform: landforms influenced by people
- nat_landform: landforms not influenced by people
- nat_phenomenon: dynamic and naturally occurring phenomena
- land_cover: elements that cover the land

Only respond in JSON format, Do not add any more comment.
The structure of the JSON format is like this:
{
        "person": ["entity_1", "entity_2", "entity_n"],
        "location": ["entity_1", "entity_2", "entity_n"],
        "fauna": ["entity_1", "entity_2", "entity_n"],
        "flora": ["entity_1", "entity_2", "entity_n"],
        "weather": ["entity_1", "entity_2", "entity_n"],
        "organisation": ["entity_1", "entity_2", "entity_n"],
        "biome": ["entity_1", "entity_2", "entity_n"],
        "myth": ["entity_1", "entity_2", "entity_n"],
        "hum_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_landform": ["entity_1", "entity_2", "entity_n"],
        "nat_phenomenon": ["entity_1", "entity_2", "entity_n"],
        "land_cover": ["entity_1", "entity_2", "entity_n"],
        }


Let's approach this step-by-step:
Example 1:
Sentence: <<<The Amazon rainforest is home to jaguars and giant water lilies, while the Andes Mountains tower above.>>>

Step 1: Identify potential named entities
- Amazon rainforest
- jaguars
- giant water lilies
- Andes Mountains

Step 2: Categorize each entity and asign a label
- Amazon rainforest: biome (rainforest is a type of biome)
- jaguars: fauna (common name of an animal)
- giant water lilies: flora (common name of a plant)
- Andes Mountains: nat_landform (mountain range not influenced by people)

Step 3: Format the output

   {"person": [],
    "location": [],
    "fauna": ["jaguars"],
    "flora": ["giant water lilies"],
    "weather": [],
    "organisation": [],
    "biome": ["Amazon rainforest"],
    "myth": [],
    "hum_landform": [],
    "nat_landform": ["Andes Mountains"],
    "nat_phenomenon": [],
    "land_cover": [],
   }

Example 2:
Sentence: <<<Hurricane Katrina devastated New Orleans in 2005, causing widespread flooding and destruction.>>>

Step 1: Identify potential named entities
- Hurricane Katrina
- New Orleans

Step 2: Categorize each entity and asign a label
- Hurricane's Katrina: weather (description of a weather event)
- New Orleans: location (proper name of a city)

Step 3: Format the output

  {'person': [], 'location': ['New Orleans'], 'fauna': [], 'flora': [], 'weather': ['Hurricane Katrina'], 'organisation': [], 'biome': [], 'myth': [], 'hum_landform': [], 'nat_landform': [], 'nat_phenomenon': [], 'land_cover': []}

Example 3:
Sentence: <<<The Great Wall of China stretches across the Gobi Desert, where Bactrian camels roam freely.>>>

Step 1: Identify potential named entities
- Great Wall of China
- Gobi Desert
- Bactrian camels

Step 2: Categorize each entity and asign a label
- Great Wall of China: hum_landform (man-made structure influencing the landscape)
- Gobi Desert: biome (desert is a type of biome)
- Bactrian camels: fauna (common name of an animal)

Step 3: Format the output

   {"person": [],
    "location": [],
    "fauna": ["Bactrian camels"],
    "flora": [],
    "weather": [],
    "organisation": [],
    "biome": ["Gobi Desert"],
    "myth": [],
    "hum_landform": ["Great Wall of China"],
    "nat_landform": [],
    "nat_phenomenon": [],
    "land_cover": [],
  }

Now, DO NOT take into account the previous examples, use them JUST AS A REFERENCE.

The sentence for analyzing is:

In [69]:
ent_dict = {
    "person": ["Weber, Max", "Durkheim, Émile"],
    "place": ["France"],
    "organization": ["UNESCO", "World Bank"]
}

In [70]:
def extract_entities(ent_dict):
    all_values = []
    list_category = []
    
    for category, value_list in ent_dict.items():
        # Convertir valores únicos a listas
        if isinstance(value_list, str):
            value_list = [value_list]
        
        if value_list:  # Si no está vacío
            for value in value_list:
                all_values.append(str(value))  # Agregar el valor a all_values como cadena
                list_category.append(category)  # Agregar la categoría correspondiente
    
    return all_values, list_category

In [72]:
a,b=extract_entities(ent_dict)

In [76]:
a

['Weber, Max', 'Durkheim, Émile', 'France', 'UNESCO', 'World Bank']

In [28]:
ent_1 = ["plankton"]
sentence_1 = ["this", "plankton", "last", "plankton"]

In [13]:
def find_sub_list(ent_1,sentence_1):
    results=[]
    sll=len(ent_1)
    for ind in (i for i,e in enumerate(sentence_1) if e.upper()==ent_1[0].upper()):
        if ind+sll<=len(sentence_1) and [elem.upper() for elem in sentence_1[ind:ind+sll]] == [elem.upper() for elem in ent_1]:
         results.append((ind,ind+sll-1))
    
    return results

In [17]:
a=find_sub_list(ent_1,sentence_1)

In [33]:
a

[(1, 1), (3, 3)]

In [29]:
sentence_O = [["O"] * len(sentence_1)][0]

sentence_2 = [["O"] * len(sentence_1)][0]

In [31]:
sentence_2

['O', 'O', 'O', 'O']

In [35]:



for result in a:
    print(result)
    all_indices = list(range(result[0], result[-1] + 1))
    print('oo',all_indices)
    # index of start aspect = B-aspect
    start_index = all_indices[0]
    sentence_O[start_index] = "B-ASPECT"
    sentence_2[start_index] = f"B-PEPE"

(1, 1)
oo [1]
(3, 3)
oo [3]